body {
  align-items: center;
  display: flex;
  justify-content: center;
  min-height: 100vh;
}
* {
  margin: 0;
  padding: 0;
}
body {
  display: block;
  margin: 8px;
}
div {
  display: block;
}
.container, .main_container {
  align-items: center;
  display: flex;
}

.container, .main_container {
  align-items: center;
  display: flex;
}
.main_container {
    flex-direction: column;
}
.horizontal {
    height: 60px;
    width: 500px;
}
.horizontal, .vertical {
    align-items: center;
    background-color: #b8eded;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
}
.vertical {
  height: 500px;
  width: 60px;
}
.main {
  position: relative;
}
.box {
  background-color: #b5dc36;
  height: 50px;
  position: absolute;
  width: 50px;
  top: 0;
  left: 0;
  pointer-events: none;
}