* {
  margin: 0;
  padding: 0;
}
.main_container {
  align-items: center;
  display: flex;
}

.horizontal {
    height: 60px;
    width: 500px;
}
.horizontal, .vertical {
    align-items: center;
    background-color: #b8eded;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
}
.container, .main_container {
  align-items: center;
  display: flex;
}
.main {
  height: 500px;
  width: 500px;
}
.box {
  background-color: #b5dc36;
  height: 50px;
  position: relative;
  width: 50px;
}
div {
  display: block;
}